.main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.main-title {
  font-size: 36px;
}

.container {
  text-align: center;
}
