.sub-title-text {
  font-size: 32px;
  line-height: 100%;
  padding-left: 8px;
  color: black;
}

.description-text {
  font-size: 14px;
  padding-left: 8px;
  line-height: 130%;
  padding-bottom: 24px;
}

.player--register {
  margin-bottom: 100px;

  @media screen and (min-width: 392px) and (max-width: 431px) {
    margin-bottom: 13.5vh;
  }
}
