.video-player {
  padding-bottom: 24px;
}

.sub-title-text {
  font-size: 32px;
  line-height: 100%;
  padding-left: 8px;
  color: black;
}

.description-text {
  font-size: 14px;
  padding-left: 8px;
  line-height: 130%;
}

.description-text--register {
  margin-bottom: 79px;
}
