.sub-title-text {
  font-size: 32px;
  line-height: 100%;
  padding-left: 8px;
  color: black;
}

.description-text {
  font-size: 14px;
  padding-left: 8px;
  line-height: 130%;
  padding-bottom: 24px;
}

.video-player {
  margin-bottom: 0.5rem;
}
// @media (min-width: 512px) {
//   .video-player {
//     margin-bottom: 3%;
//   }
// }
// @media (min-width: 1024px) {
//   .video-player {
//     margin-bottom: 3%;
//   }
// }
